@import url(index.css);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  height: 90vh;
}

#face{
  grid-column: 1;
  grid-row: 1;
}

#gauche{
  grid-column: 2;
  grid-row: 1;
}

#haut{
  grid-column: 1;
  grid-row: 2;
}

#tridimensionnelle{
  grid-column: 2;
  grid-row: 2;
}
